@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F6C8;
  color: #1a1a1a;
  overflow: hidden; /* Canvas handles scrolling */
}

/* Custom Dot Grid Pattern */
.grid-pattern {
  background-image: radial-gradient(#d1cfaa 1.5px, transparent 1.5px);
  background-size: 24px 24px;
}

.react-flow__edge.animated .react-flow__edge-path {
  animation-duration: 60s !important; /* Very slow, subtle flow */
  stroke-dasharray: 10; /* Optional: Makes the dashes slightly longer/cleaner */
}